/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Restart */

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.hero-section {
    background-color: #1f2937;
    padding: 0px 200px;
}

H1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right-links ul {
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo img {
    display: flex;
    width: 100px;
}

.header {
    margin-top: 15px;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex: 1;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.hero-left p {
    color: #e5e7eb;
    font-size: 18px;
    line-height: 25px;
}

.hero-right {
    display: flex;
}

.hero-right img {
    display: flex;
    width: 500px;
    flex: 1 1 auto;
}

.header button {
    padding: 8px 16px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border: none;
}

.header button:hover {
    background-color: #b0b0b0;
    cursor: pointer;
}


.nav-right-links a {
    text-decoration: none;
    color: #e5e7eb;
    transition: all 0.2s ease-out;
}

.nav-right-links a:hover {
    color: #e4b69c;
}



.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 250px;
    gap: 50px;
}

.all-card {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;

}

.card img {
    width: 150px;
    height: 150px;
    border: #3882f6;
    border-radius: 5px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    text-align: center;
}

.card p {
    padding: 10px 0;
}


.testimonial {
    display: flex;
    background-color: #E5E7EB;
    padding: 120px 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.testimonial blockquote {
    font-size: 30px;
    font-weight: light;
    font-style: italic;
    line-height: 40px;
}

.testimonial figcaption {
    align-self: flex-start;
    font-weight: bold;
    font-size: 20px;
}

.cta {
    display: flex;
    padding: 48px 72px;
    background-color: #3882f6;
    border-radius: 10px;
    margin: 30px auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.book-now {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cta h3 {
    font-size: 24px;
    font-weight: bold;
    color: #E5E7EB;
}

.cta p {
    font-weight: lighter;
    color: #E5E7EB;
}

.book-now-button button {
    padding: 16px 24px;
    border: none;
    border-radius: 5px;
    background-color: #f9faf8;
    transition: all 0.2s ease-out;
}

.book-now-button button:hover {
    background-color: #b0b0b0;
    cursor: pointer;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #F9FaF8;
    margin: 0;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 18px;
    font-weight: lighter;
}

@media (max-width: 1250px) {
    .hero-section {
        padding: 0 75px;
    }
}

@media (max-width: 1150px) {
    .header img {
        display: none;
    }

    .hero-section {
        padding: 0 35px;
    }

    .header {
        gap: 0;
    }

    .header .hero-left {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content {
        padding: 15px 15px;
    }

    .testimonial {
        font-size: 20px;
        padding: 40px 100px;
    }

    .testimonial figcaption {
        font-size: 15px;
    }


}

@media (max-width: 700px) {
    .cta {
        margin: 0 0;
        padding: 12px 24px;
        border-radius: 0;
    }
}